In [6]:
import numpy as np
import pandas as pd
import requests
import io
import matplotlib as mlt

In [32]:
data = 'https://raw.githubusercontent.com/107SBakst/107SBakst.github.io/main/data/Emission_city_density_dataset.csv'

In [34]:
pd.read_csv(data, encoding= 'unicode_escape',error_bad_lines=False)

,Urban_Cluster,Country,Population,Footprint (Mt CO2),1StdDev,Footprint_per_capita_(t CO2_cap),Error (plus minus),ClusterID,Global ranking,population_density_by_city_Entity,population_density_by_city_Code,population_density_by_city_Year,population_density_by_city_Population_density_by_city
0,Hong Kong SAR,China,6029000,NaN,37.8,34.6,6.3,13847,1,Hong Kong,HKG,2011.0,25700.0
1,Mohammed Bin Zayed City,UAE,188000,NaN,5.3,32.9,27.9,5292,2,NaN,NaN,NaN,NaN
2,Abu Dhabi,UAE,911000,NaN,15.6,32.9,17.1,5288,3,NaN,NaN,NaN,NaN
3,Country of Singapore,Singapore,5235000,NaN,34.1,30.8,6.5,13845,4,NaN,NaN,NaN,NaN
4,Hulun Buir,China,198000,NaN,6.4,30.0,32.3,10441,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,"Unknown city at lat/lon 34.0, 51.4",Iran,237000,NaN,1.6,8.8,6.6,5171,496,NaN,NaN,NaN,NaN
504,"Unknown city at lat/lon 35.4, 116.9",China,471000,NaN,2.7,8.8,5.8,11975,497,NaN,NaN,NaN,NaN
505,"Unknown city at lat/lon 51.6, 0.6",UK,250000,NaN,1.4,8.8,5.4,1836,498,NaN,NaN,NaN,NaN
506,"Unknown city at lat/lon 38.7, 116.1",China,197000,NaN,1.6,8.8,8.0,11253,499,NaN,NaN,NaN,NaN
507,Yingkou,China,488000,NaN,3.2,8.8,6.6,11964,500,NaN,NaN,NaN,NaN