In [2]:
import numpy as np
import pandas as pd
import requests
import io
from scipy import optimize
import matplotlib.pyplot as plt
import requests, pandas as pd
from bs4 import BeautifulSoup
import urllib.request
import et_xmlfile as et
import json

In [3]:
# to handle  data retrieval
import urllib3
from urllib3 import request# to handle certificate verification
import certifi# to manage json data
import json# for pandas dataframes
import pandas as pd# uncomment below if installation needed (not necessary in Colab)
#!pip install certifi

In [26]:
http = urllib3.PoolManager(
       cert_reqs='CERT_REQUIRED',
       ca_certs=certifi.where())
url = 'https://api.cityhealthdashboard.com/api/data/tract-metric/high-blood-pressure?token=5854f0373844647c859c416b14e3390d'
r = http.request('GET', url)
r.status
data = json.loads(r.data.decode('utf-8'))
df = pd.json_normalize(data, 'rows')
city_name = df['city_name']
city_name = pd.DataFrame(city_name)
city_name = pd.DataFrame(city_name['city_name'].unique())
city_name.columns = ['city_name']
city_name['city_name'].dtypes
city_name

    city_name
0   Anchorage
1      Auburn
2  Birmingham
3     Decatur
4      Dothan
5      Hoover

In [27]:
#, 'park-access', 'walkability', 'uninsured', 'income-inequality', 'housing-cost-excessive', 'high-blood-pressure', 'children-in-poverty', 'air-pollution-particulate-matter', 'frequent-mental-distress', 'unemployment-current-city-level', 'violent-crime', 'broadband-connection'

met = ['covid-index', 'neighborhood-racial-ethnic-segregation', 'opioid-overdose-deaths', 'park-access', 'walkability', 'uninsured', 'income-inequality', 'housing-cost-excessive', 'high-blood-pressure']
url_base = "https://api.cityhealthdashboard.com/api/data/city-metric/{}?token=5854f0373844647c859c416b14e3390d"


# // Begin a loop, dealing with series one by one:
for i in range(len(met)):
    c = met[i]
    s = c.replace(' ','')
    http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs=certifi.where())
    URL = url_base.format(c)
    print(URL)
    # // Request the html from the URL:

    r = http.request('GET', URL)
    r.status
    data = json.loads(r.data.decode('utf-8'))
    df3 = pd.json_normalize(data, 'rows')
    df3 = df3.drop_duplicates()
    city_name = city_name.set_index('city_name').join(df3[['city_name','metric_name', 'metric_number', 'data_yr_type']].set_index('city_name'),how='outer',lsuffix=c[4])
    city_name = city_name.drop_duplicates()
city_name

https://api.cityhealthdashboard.com/api/data/city-metric/covid-index?token=5854f0373844647c859c416b14e3390d
https://api.cityhealthdashboard.com/api/data/city-metric/neighborhood-racial-ethnic-segregation?token=5854f0373844647c859c416b14e3390d

KeyError: "None of ['city_name'] are in the columns"

In [15]:
ushealth = city_name
ushealth = ushealth.drop_duplicates()
ushealth

    city_name
0   Anchorage
1      Auburn
2  Birmingham
3     Decatur
4      Dothan
5      Hoover

In [21]:
#, 'park-access', 'walkability', 'uninsured', 'income-inequality', 'housing-cost-excessive', 'high-blood-pressure', 'children-in-poverty', 'air-pollution-particulate-matter', 'frequent-mental-distress', 'unemployment-current-city-level', 'violent-crime', 'broadband-connection'

met = ['air-pollution-particulate-matter', 'frequent-mental-distress', 'unemployment-current-city-level', 'violent-crime', 'broadband-connection']
url_base = "https://api.cityhealthdashboard.com/api/data/city-metric/{}?token=5854f0373844647c859c416b14e3390d"
city_name2 = city_name

# // Begin a loop, dealing with series one by one:
for i in range(len(met)):
    c = met[i]
    s = c.replace(' ','')
    http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs=certifi.where())
    URL = url_base.format(c)
    print(URL)
    # // Request the html from the URL:

    r = http.request('GET', URL)
    r.status
    data = json.loads(r.data.decode('utf-8'))
    df3 = pd.json_normalize(data, 'rows')
    df3 = df3.drop_duplicates()
    city_name2 = city_name2.set_index('city_name').join(df3[['city_name','metric_name', 'metric_number', 'data_yr_type']].set_index('city_name'),on='city_name',how='outer',lsuffix=c[4])
    city_name2 = city_name2.drop_duplicates()
city_name2

https://api.cityhealthdashboard.com/api/data/city-metric/air-pollution-particulate-matter?token=5854f0373844647c859c416b14e3390d

KeyError: "None of ['city_name'] are in the columns"

In [ ]:
import seaborn as sns
sns.scatterplot(data = ushealth, x = ushealth[[2]], y = ushealth[[5]])