In [9]:
#05f77bcab6e5cabee8304eeb5b320496 Server token
#64ead8343ad51b5bf585205f7fa814d2 Browser token.
#713f3b1mVrZaQBNNLHSS Client id
import requests

url = "https://api.bridgedataoutput.com/api/v2/zgecon/marketreport?access_token=6baca547742c6f96a6ff71b138424f21&limit=10&fields=price"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"success":false,"status":401,"bundle":{"name":"AuthorizationError","message":"Unauthorized request"}}

In [11]:
import pandas as pd
urlmetro = 'https://stats.oecd.org/SDMX-JSON/data/CITIES/USA+USA01+USA02+USA03+USA04+USA05+USA06+USA07+USA08+USA09+USA10+USA11+USA12+USA13+USA14+USA15+USA16+USA17+USA18+USA19+USA20+USA21+USA22+USA23+USA24+USA25+USA26+USA27+USA28+USA29+USA30+USA31+USA32+USA33+USA34+USA35+USA36+USA37+USA38+USA39+USA40+USA41+USA42+USA43+USA44+USA45+USA46+USA47+USA48+USA49+USA50+USA51+USA52+USA53+USA54+USA55+USA56+USA57+USA58+USA59+USA60+USA61+USA62+USA63+USA64+USA65+USA66+USA67+USA68+USA69+USA70+USA71+USA72+USA73+USA74+USA75+USA76+USA77+USA78+USA79+USA80+USA81+USA82+USA83+USA84+USA85+USA86+USA87+USA88+USA89+USA90+USA91+USA92+USA93+USA94+USA95+USA96+USA97+USA98+USA99+USA100+USA101+USA102+USA103+USA104+USA105+USA106+USA107+USA108+USA109+USA110+USA111+USA112+USA113+USA114+USA115+USA116+USA117+USA118+USA119+USA120+USA121+USA122+USA123+USA124+USA125+USA126+USA127+USA128+USA129+USA130+USA131+USA132+USA133+USA134+USA135+USA136+USA137+USA138+USA139+USA140+USA141+USA142+USA143+USA144+USA145+USA146+USA147+USA148+USA149+USA150+USA151+USA152+USA153+USA154+USA155+USA156+USA157+USA158+USA160+USA161+USA162+USA170.POP_DEN+T_T+POP_TOT_GI+T_T_SH_NAT+T_Y15_64+EMP_RA_15_MAX+EMP_RA_15_MAX_GR_2007+GDP_REAL_PPP+GDP_SH_NAT+GDP_PC_REAL_PPP+EMP_IND_TOTAL+GDP_PW_REAL_PPP+XDSL+SPEX_25_CORE+TREECOVER_SHARE_CORE/all?startTime=2000&endTime=2021&contentType=csv&csv'
dfmetro = pd.read_csv(urlmetro)
dfmetro

,METRO_ID,Metropolitan areas,VAR,Variables,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,USA145,Nashville,GDP_REAL_PPP,"GDP (Million USD, constant prices, constant PP...",2001,2001,USD,US Dollar,0,Units,NaN,NaN,7956.0,NaN,NaN
1,USA145,Nashville,GDP_REAL_PPP,"GDP (Million USD, constant prices, constant PP...",2002,2002,USD,US Dollar,0,Units,NaN,NaN,8451.0,NaN,NaN
2,USA145,Nashville,GDP_REAL_PPP,"GDP (Million USD, constant prices, constant PP...",2003,2003,USD,US Dollar,0,Units,NaN,NaN,8974.0,NaN,NaN
3,USA145,Nashville,GDP_REAL_PPP,"GDP (Million USD, constant prices, constant PP...",2004,2004,USD,US Dollar,0,Units,NaN,NaN,10088.0,NaN,NaN
4,USA145,Nashville,GDP_REAL_PPP,"GDP (Million USD, constant prices, constant PP...",2005,2005,USD,US Dollar,0,Units,NaN,NaN,10586.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41301,USA99,Mahoning,SPEX_25_CORE,Share of population in the core area exposed t...,2018,2018,NaN,NaN,0,Units,NaN,NaN,0.0,NaN,NaN
41302,USA99,Mahoning,SPEX_25_CORE,Share of population in the core area exposed t...,2019,2019,NaN,NaN,0,Units,NaN,NaN,0.0,NaN,NaN
41303,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2004,2004,NaN,NaN,0,Units,NaN,NaN,21.6,NaN,NaN
41304,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2015,2015,NaN,NaN,0,Units,NaN,NaN,20.8,NaN,NaN
41305,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2018,2018,NaN,NaN,0,Units,NaN,NaN,20.3,NaN,NaN