In [9]:
#05f77bcab6e5cabee8304eeb5b320496 Server token
#64ead8343ad51b5bf585205f7fa814d2 Browser token.
#713f3b1mVrZaQBNNLHSS Client id
import requests

url = "https://api.bridgedataoutput.com/api/v2/zgecon/marketreport?access_token=6baca547742c6f96a6ff71b138424f21&limit=10&fields=price"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"success":false,"status":401,"bundle":{"name":"AuthorizationError","message":"Unauthorized request"}}

In [31]:
import pandas as pd
urlmetro = 'https://stats.oecd.org/SDMX-JSON/data/CITIES/USA+USA01+USA02+USA03+USA04+USA05+USA06+USA07+USA08+USA09+USA10+USA11+USA12+USA13+USA14+USA15+USA16+USA17+USA18+USA19+USA20+USA21+USA22+USA23+USA24+USA25+USA26+USA27+USA28+USA29+USA30+USA31+USA32+USA33+USA34+USA35+USA36+USA37+USA38+USA39+USA40+USA41+USA42+USA43+USA44+USA45+USA46+USA47+USA48+USA49+USA50+USA51+USA52+USA53+USA54+USA55+USA56+USA57+USA58+USA59+USA60+USA61+USA62+USA63+USA64+USA65+USA66+USA67+USA68+USA69+USA70+USA71+USA72+USA73+USA74+USA75+USA76+USA77+USA78+USA79+USA80+USA81+USA82+USA83+USA84+USA85+USA86+USA87+USA88+USA89+USA90+USA91+USA92+USA93+USA94+USA95+USA96+USA97+USA98+USA99+USA100+USA101+USA102+USA103+USA104+USA105+USA106+USA107+USA108+USA109+USA110+USA111+USA112+USA113+USA114+USA115+USA116+USA117+USA118+USA119+USA120+USA121+USA122+USA123+USA124+USA125+USA126+USA127+USA128+USA129+USA130+USA131+USA132+USA133+USA134+USA135+USA136+USA137+USA138+USA139+USA140+USA141+USA142+USA143+USA144+USA145+USA146+USA147+USA148+USA149+USA150+USA151+USA152+USA153+USA154+USA155+USA156+USA157+USA158+USA160+USA161+USA162+USA170.POP_DEN+T_T+POP_TOT_GI+T_T_SH_NAT+T_Y15_64+GDP_SH_NAT/all?startTime=2000&endTime=2021&contentType=csv&csv'
dfmetro = pd.read_csv(urlmetro)
dfmetro.columns = dfmetro.columns.astype('str').str.lower()
dfmetro2 = dfmetro.pivot(index=['metro_id','metropolitan areas','year'],columns='variables',values ='value') #Pivots on the variable column. This makes it easier to read in Vegalite.
dfmetro2.columns = dfmetro2.columns.astype('str').str.lower()
dfmetro2.columns = dfmetro2.columns.astype('str').str.replace(' ','_')



dfmetro2.to_csv(r'C:\Users\vw191\OneDrive\Documents\GitHub\107SBakst.github.io\data\project_chart6_oecd.csv')
#Github raw url  https://raw.githubusercontent.com/107SBakst/107SBakst.github.io/main/data/project_chart6_oecd.csv

In [32]:
dfmetro2

variables                         gdp_of_the_metropolitan_area_as_a_share_of_the_national_gdp  \
metro_id metropolitan areas year
USA01    New York (Greater) 2000                                                NaN
                            2001                                                9.1
                            2002                                                9.0
                            2003                                                8.7
                            2004                                                8.6
...                                                                             ...
USA99    Mahoning           2016                                                0.1
                            2017                                                0.1
                            2018                                                0.1
                            2019                                                0.1
                            2020                                                NaN

variables                         growth/shrinking_index_of_the_total_population_(2001=100)  \
metro_id metropolitan areas year
USA01    New York (Greater) 2000                                                NaN
                            2001                                              100.0
                            2002                                              100.5
                            2003                                              100.8
                            2004                                              100.8
...                                                                             ...
USA99    Mahoning           2016                                               90.2
                            2017                                               89.7
                            2018                                               89.2
                            2019                                               88.8
                            2020                                               88.2

variables                         population_density_(inhabitants_per_km2)  \
metro_id metropolitan areas year
USA01    New York (Greater) 2000                                     793.0
                            2001                                     799.0
                            2002                                     802.0
                            2003                                     805.0
                            2004                                     805.0
...                                                                    ...
USA99    Mahoning           2016                                     157.0
                            2017                                     156.0
                            2018                                     155.0
                            2019                                     155.0
                            2020                                     154.0

variables                         population_of_the_metropolitan_area_as_a_share_of_the_national_population  \
metro_id metropolitan areas year
USA01    New York (Greater) 2000                                                6.7
                            2001                                                6.7
                            2002                                                6.7
                            2003                                                6.6
                            2004                                                6.6
...                                                                             ...
USA99    Mahoning           2016                                                0.1
                            2017                                                0.1
                            2018                                                0.1
                            2019                                                0.1
                            2020                                                0.1

variables                         population,_all_ages,_administrative_data  \
metro_id metropolitan areas year
USA01    New York (Greater) 2000                                 18941708.0
                            2001                                 19073414.0
                            2002                                 19163168.0
                            2003                                 19219720.0
                            2004                                 19227477.0
...                                                                     ...
USA99    Mahoning           2016                                   432117.0
                            2017                                   429862.0
                            2018                                   427549.0
                            2019                                   425579.0
                            2020                                   422875.0

variables                         working_age_population_group_(15-64)
metro_id metropolitan areas year
USA01    New York (Greater) 2000                            12618297.0
                            2001                            12735095.0
                            2002                            12821015.0
                            2003                            12893589.0
                            2004                            12937397.0
...                                                                ...
USA99    Mahoning           2016                              272995.0
                            2017                              269614.0
                            2018                              265870.0
                            2019                              262720.0
                            2020                              258986.0

[3402 rows x 6 columns]