In [2]:
import pandas as pd
import numpy as np

In [13]:
#WB share of population living in urban areas in 2019.
df = pd.read_xml('https://api.worldbank.org/v2/country/all/indicator/SP.URB.TOTL.IN.ZS?date=2019&format=xml&per_page=300')
df
#WB total population in 2019.
df1 = pd.read_xml('https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?date=2019&format=xml&per_page=300')
df1f = df1[df1['value'] > 9000000] #Filter df for countries with populations greater than 9 million people.

mdf = df.join(df1f.set_index('country'),on='country',rsuffix='_tot_pop',lsuffix='_sh_urb', how='inner')
mdf

,indicator_sh_urb,country,countryiso3code_sh_urb,date_sh_urb,value_sh_urb,unit_sh_urb,obs_status_sh_urb,decimal_sh_urb,indicator_tot_pop,countryiso3code_tot_pop,date_tot_pop,value_tot_pop,unit_tot_pop,obs_status_tot_pop,decimal_tot_pop
0,Urban population (% of total population),Africa Eastern and Southern,AFE,2019,36.291322,NaN,NaN,0,"Population, total",AFE,2019,6.600463e+08,NaN,NaN,0
1,Urban population (% of total population),Africa Western and Central,AFW,2019,47.242853,NaN,NaN,0,"Population, total",AFW,2019,4.469116e+08,NaN,NaN,0
2,Urban population (% of total population),Arab World,ARB,2019,59.201646,NaN,NaN,0,"Population, total",ARB,2019,4.278703e+08,NaN,NaN,0
4,Urban population (% of total population),Central Europe and the Baltics,CEB,2019,62.438139,NaN,NaN,0,"Population, total",CEB,2019,1.023985e+08,NaN,NaN,0
5,Urban population (% of total population),Early-demographic dividend,EAR,2019,45.540805,NaN,NaN,0,"Population, total",EAR,2019,3.290291e+09,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Urban population (% of total population),"Venezuela, RB",VEN,2019,88.240000,NaN,NaN,0,"Population, total",VEN,2019,2.851583e+07,NaN,NaN,0
260,Urban population (% of total population),Vietnam,VNM,2019,36.628000,NaN,NaN,0,"Population, total",VNM,2019,9.646211e+07,NaN,NaN,0
263,Urban population (% of total population),"Yemen, Rep.",YEM,2019,37.273000,NaN,NaN,0,"Population, total",YEM,2019,2.916192e+07,NaN,NaN,0
264,Urban population (% of total population),Zambia,ZMB,2019,44.072000,NaN,NaN,0,"Population, total",ZMB,2019,1.786103e+07,NaN,NaN,0
265,Urban population (% of total population),Zimbabwe,ZWE,2019,32.210000,NaN,NaN,0,"Population, total",ZWE,2019,1.464547e+07,NaN,NaN,0

In [17]:
#OWID covid19 dataset
owid = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/latest/owid-covid-latest.csv')
owid.columns

Index(['iso_code', 'continent', 'location', 'last_updated_date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [25]:
#Merge the owid df with the wb df.
fmdf = pd.merge(mdf,owid,left_on='countryiso3code_sh_urb',right_on='iso_code',how='inner')
fmdf1 = fmdf.dropna(axis=1) #Drop columns with nan values.