In [2]:
import pandas as pd
import numpy as np

In [5]:
#WB share of population living in urban areas in 2019.
df = pd.read_xml('https://api.worldbank.org/v2/country/all/indicator/SP.URB.TOTL.IN.ZS?date=2019&format=xml&per_page=300')
df
#WB total population in 2019.
df1 = pd.read_xml('https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?date=2019&format=xml&per_page=300')
df1

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"Population, total",Africa Eastern and Southern,AFE,2019,660046272.0,NaN,NaN,0
1,"Population, total",Africa Western and Central,AFW,2019,446911598.0,NaN,NaN,0
2,"Population, total",Arab World,ARB,2019,427870273.0,NaN,NaN,0
3,"Population, total",Caribbean small states,CSS,2019,7401389.0,NaN,NaN,0
4,"Population, total",Central Europe and the Baltics,CEB,2019,102398537.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...
261,"Population, total",Virgin Islands (U.S.),VIR,2019,106669.0,NaN,NaN,0
262,"Population, total",West Bank and Gaza,PSE,2019,4685306.0,NaN,NaN,0
263,"Population, total","Yemen, Rep.",YEM,2019,29161922.0,NaN,NaN,0
264,"Population, total",Zambia,ZMB,2019,17861034.0,NaN,NaN,0
265,"Population, total",Zimbabwe,ZWE,2019,14645473.0,NaN,NaN,0