In [15]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd
import requests, pandas as pd
from bs4 import BeautifulSoup
import seaborn as sns; sns.set()
import urllib.request

pd.set_option('display.max_rows', 400)
pd.set_option('display.max_columns', 400)

In [11]:
#Printed encoding of csv file to read the csv.
with open(r'C:\Users\vw191\OneDrive - University of Bristol\Course\3rd year\Data Science\Project\Datastore\WUP2018-F14-Growth_Rate_Cities.csv') as f:
        print(f.encoding)

cp1252

In [14]:
wup_18 = pd.read_csv(r'C:\Users\vw191\OneDrive - University of Bristol\Course\3rd year\Data Science\Project\Datastore\WUP2018-F14-Growth_Rate_Cities.csv', encoding="utf8")
wup_18

,Index,Country Code,Country or area,City Code,Urban Agglomeration,Note,Latitude,Longitude,1950-1955,1955-1960,...,1985-1990,1990-1995,1995-2000,2000-2005,2005-2010,2010-2015,2015-2020,2020-2025,2025-2030,2030-2035
0,1,4,Afghanistan,20001,Herat,NaN,34.3482,62.1997,0.78,0.78,...,2.43,2.43,2.43,3.28,5.26,5.26,5.21,4.36,3.50,3.29
1,2,4,Afghanistan,20002,Kabul,NaN,34.5289,69.1725,5.13,5.13,...,4.45,4.38,4.38,3.81,2.48,2.48,2.51,2.89,3.25,3.28
2,3,4,Afghanistan,20003,Kandahar,NaN,31.6133,65.7101,1.77,1.77,...,2.43,2.43,2.43,2.48,2.60,2.60,2.63,2.95,3.26,3.28
3,4,4,Afghanistan,20004,Mazar-e Sharif,NaN,36.7090,67.1109,4.27,4.27,...,2.43,2.43,2.43,3.60,6.35,6.35,6.26,4.93,3.60,3.30
4,5,8,Albania,20005,TiranÃ« (Tirana),NaN,41.3275,19.8189,4.71,4.63,...,2.53,3.05,3.05,2.06,1.89,1.89,1.89,1.63,1.08,0.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,1856,894,Zambia,23277,Lusaka,NaN,-15.4134,28.2771,10.71,10.71,...,3.49,3.49,3.49,4.69,4.77,4.77,4.75,4.48,4.13,3.89
1856,1857,894,Zambia,23279,Ndola,NaN,-12.9587,28.6366,8.63,8.63,...,1.73,1.13,1.11,1.81,1.86,1.86,1.93,2.95,3.86,3.88
1857,1858,716,Zimbabwe,22510,Bulawayo,NaN,-20.1500,28.5833,0.61,6.88,...,4.07,2.22,0.85,0.16,- 0.35,- 0.35,- 0.27,0.94,2.38,2.98
1858,1859,716,Zimbabwe,22511,Chitungwiza,NaN,-18.0127,31.0756,4.66,4.66,...,4.66,2.92,1.62,1.26,0.99,0.99,1.03,1.65,2.50,2.99
1859,1860,716,Zimbabwe,22513,Harare,NaN,-17.8294,31.0539,5.89,5.16,...,5.95,3.62,1.89,1.00,0.34,0.34,0.40,1.30,2.44,2.99