In [9]:
#05f77bcab6e5cabee8304eeb5b320496 Server token
#64ead8343ad51b5bf585205f7fa814d2 Browser token.
#713f3b1mVrZaQBNNLHSS Client id
import requests

url = "https://api.bridgedataoutput.com/api/v2/zgecon/marketreport?access_token=6baca547742c6f96a6ff71b138424f21&limit=10&fields=price"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"success":false,"status":401,"bundle":{"name":"AuthorizationError","message":"Unauthorized request"}}

In [33]:
import pandas as pd
urlmetro = 'https://stats.oecd.org/SDMX-JSON/data/CITIES/AUS01+AUS02+AUS03+AUS04+AT001+AT002+AT003+AT004+BE001+BE002+BE003+BE004+BG001+BG002+BG003+BG004+CAN01+CAN02+CAN03+CAN04+CH001+CH002+CH003+CH004+CL004+CL006+CL010+CL011+COL01+COL02+COL03+COL04+DE001+DE002+DE003+DE004+DE005+DK001+DK003+DK004+ES001+ES002+ES003+ES004+ES005+FR001+FR003+FR004+FR006+FR007+UK001+UK003+UK004+UK006+UK009+UK011+EL001+HR001+HR005+HU001+HU002+IE001+IE002+IT001+IT002+IT003+IT004+IT005+JPN01+JPN02+JPN03+JPN04+KOR01+KOR02+KOR03+KOR04+KOR05+LT001+LU001+LV001+MEX01+MEX02+MEX03+MEX04+MT001+NL001+NL002+NL003+NL004+NO001+NO002+NZL01+NZL02+NZL03+PL001+PL002+PL003+PL004+PT001+PT002+RO001+SK001+SE001+SE002+SE003+TR001+TR002+TR012+USA01+USA02+USA03+USA04+USA05+USA06+USA07.POP_DEN+T_T+POP_TOT_GI+T_T_SH_NAT+T_Y15_64+GDP_SH_NAT/all?startTime=2000&endTime=2021&contentType=csv&csv'
dfmetro = pd.read_csv(urlmetro)
dfmetro.columns = dfmetro.columns.astype('str').str.lower()
dfmetro2 = dfmetro.pivot(index=['metro_id','metropolitan areas','year'],columns='variables',values ='value') #Pivots on the variable column. This makes it easier to read in Vegalite.
dfmetro2.columns = dfmetro2.columns.astype('str').str.lower()
dfmetro2.columns = dfmetro2.columns.astype('str').str.replace(' ','_')



dfmetro2.to_csv(r'C:\Users\vw191\OneDrive\Documents\GitHub\107SBakst.github.io\data\project_chart6_oecd.csv')
#Github raw url  https://raw.githubusercontent.com/107SBakst/107SBakst.github.io/main/data/project_chart6_oecd.csv

In [34]:
dfmetro2

variables                         gdp_of_the_metropolitan_area_as_a_share_of_the_national_gdp  \
metro_id metropolitan areas year
AT001    Vienna             2000                                               37.1
                            2001                                               37.0
                            2002                                               37.2
                            2003                                               36.9
                            2004                                               36.8
...                                                                             ...
USA07    Dallas             2016                                                2.5
                            2017                                                2.5
                            2018                                                2.5
                            2019                                                2.5
                            2020                                                NaN

variables                         growth/shrinking_index_of_the_total_population_(2001=100)  \
metro_id metropolitan areas year
AT001    Vienna             2000                                                NaN
                            2001                                                NaN
                            2002                                                NaN
                            2003                                                NaN
                            2004                                                NaN
...                                                                             ...
USA07    Dallas             2016                                              134.3
                            2017                                              137.0
                            2018                                              139.2
                            2019                                              141.4
                            2020                                              143.6

variables                         population_density_(inhabitants_per_km2)  \
metro_id metropolitan areas year
AT001    Vienna             2000                                       NaN
                            2001                                       NaN
                            2002                                     262.0
                            2003                                     265.0
                            2004                                     267.0
...                                                                    ...
USA07    Dallas             2016                                     211.0
                            2017                                     215.0
                            2018                                     219.0
                            2019                                     222.0
                            2020                                     226.0

variables                         population_of_the_metropolitan_area_as_a_share_of_the_national_population  \
metro_id metropolitan areas year
AT001    Vienna             2000                                                NaN
                            2001                                                NaN
                            2002                                               31.2
                            2003                                               31.4
                            2004                                               31.6
...                                                                             ...
USA07    Dallas             2016                                                2.3
                            2017                                                2.3
                            2018                                                2.4
                            2019                                                2.4
                            2020                                                2.4

variables                         population,_all_ages,_administrative_data  \
metro_id metropolitan areas year
AT001    Vienna             2000                                        NaN
                            2001                                        NaN
                            2002                                  2518900.0
                            2003                                  2545953.0
                            2004                                  2571147.0
...                                                                     ...
USA07    Dallas             2016                                  7427825.0
                            2017                                  7574432.0
                            2018                                  7699468.0
                            2019                                  7820162.0
                            2020                                  7943515.0

variables                         working_age_population_group_(15-64)
metro_id metropolitan areas year
AT001    Vienna             2000                                   NaN
                            2001                                   NaN
                            2002                             1740398.0
                            2003                             1764575.0
                            2004                             1773529.0
...                                                                ...
USA07    Dallas             2016                             4985247.0
                            2017                             5079018.0
                            2018                             5158802.0
                            2019                             5236213.0
                            2020                             5313963.0

[2421 rows x 6 columns]